



<!doctype html>
<html lang="zxx">
    
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <!-- Animate CSS --> 
    <link rel="stylesheet" href="../../assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../../assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="../../assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="../../assets/css/flaticon.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../../assets/css/nice-select.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../../assets/css/owl.carousel.min.css">
    <!-- Owl Carousel Default CSS -->
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="../../assets/css/odometer.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../../assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <link href="../../assets/dashboard/icon_fonts_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <title>Terms and Conditions - Swiss Holding Bank</title>

    <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
    <style>
    .credit-card-area.bg-ffffff .row {
    background-color: #4865FE;
   
    }
    .location-maps-image .location a::before {
    border: 5px solid #4865FE;
    }
    .fun-facts-area::before {
    background-image: url(../../assets/img/bg2.jpg);
    }
    .open-account-area::before {
    background-image: url(https://swissholdingbank.com/xassets/img/bg-2.jpg?);
    background-color: #4865ff;
    }
    
    .main-banner-item.banner-item-two {
    background-image: url(assets/img/main-banner/banner-bg-2.jpg.html);}
    </style>
</head>
<body>
    
    <!-- Start Preloader Area -->
    <div class="preloader bg-4865ff">
        <div class="loader">
            <div class="shadow"></div>
            <div class="box"></div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Top Header Area -->
    <div class="top-header-area bg-color">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <ul class="top-header-information">
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:support@swissholdingbank.com">support@swissholdingbank.com</a>
                        </li>

                        <li>
                            <i class='bx bxs-phone'></i>
                            <a href="tel:+447776704159">+447776704159</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 text-right">
                    <ul class="top-header-others color-two">
                        <li>
                            <i class='bx bxs-map'></i>
                            <a href="atm-and-bank-locations.html">ATMs location</a>
                        </li>

                        

                        <li>
                            <i class='bx bx-user'></i>
                            <a href="../../user/login.html">Sign In</a>
                        </li>
                        <li class="languages-list">
                             <div id="google_translate_element"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-color-two">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="../../index.htm">
                            <img src="../../assets/img/logo.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="../../index.htm">
                        <img src="../../assets/img/logo.png" alt="image">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="../../index.htm" class="nav-link active">
                                    Home 
                                </a>
                                
                            </li>

                            <li class="nav-item">
                                <a href="credit-cards.html" class="nav-link">
                                    Credit Cards
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="open-account.html" class="nav-link">
                                    Banking
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="contacts.html" class="nav-link">
                                    Loans
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="contacts.html" class="nav-link">
                                    Contact
                                </a>
                            </li>

                             <li class="nav-item">
                                <a href="atm-and-bank-locations.html" class="nav-link">
                                     ATM and Bank Locations
                                </a>
                            </li>



                                               
                                            
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            

                            <div class="option-item">
                                <a href="open-account.html" class="default-btn">Open account</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive color-two">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            

                            <div class="option-item">
                                <a href="open-account.html" class="default-btn">Open account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <section class="banner-area">
      <div class="banner-overlay">
        <div class="banner-text text-center">
          <div class="container">
            <!-- Section Title Starts -->
            <div class="row text-center">
              <div class="col-xs-12">
                <!-- Title Starts -->
                <h2 class="title-head">Terms and Conditions</h2>
                <!-- Title Ends -->
                <hr>
                <!-- Breadcrumb Starts -->
                <ul class="breadcrumb">
                  <li><a href="../../index.htm"> home</a></li>
                  <li>Terms and Conditions</li>
                </ul>
                <!-- Breadcrumb Ends -->
              </div>
            </div>
            <!-- Section Title Ends -->
          </div>
        </div>
      </div>
    </section>
    <section class="terms-of-services">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-centerx">Terms and Conditions
                  Our term and Condition           </h3></div>
        </div>
      </div>
    </section>
     
<!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <h2><a href="../../index.htm">Swiss Holding Bank</a></h2>

                                <p>Swiss Holding Bank Online is an online bank platform operating in Wales , UK.</p>

                                <ul class="social">
                                    <li>
                                        <a href="" class="facebook" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../../send.html?phone=" class="twitter" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../../index-1.htm" class="pinterest" target="_blank">
                                            <i class='bx bxl-whatsapp'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="linkedin" target="_blank">
                                            <i class='bx bxl-linkedin'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:+447776704159">+447776704159</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="mailto:support@swissholdingbank.com">support@swissholdingbank.com</a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span>
                                    Oystermouth Road, Swansea, Wales , UK                               </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Services</h3>
    
                            <ul class="quick-links">
                                
                                <li>
                                    <a href="credit-cards.html">Credit cards</a>
                                </li>
                                <li>
                                    <a href="contacts.html">Loans</a>
                                </li>
                                
                                <li>
                                    <a href="../../user/login.html">Online banking</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Help & guidance</h3>
    
                            <ul class="quick-links">
                                
                                <li>
                                    <a href="faq.html">Online banking help</a>
                                </li>
                                <li>
                                    <a href="page/view/contacts.html">Help centre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        <i class='bx bx-copyright'></i>
                       © 2021. All rights reserved by Swiss Holding Bank                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Jquery Slim JS -->
        <script src="../../assets/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="../../assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../../assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="../../assets/js/jquery.meanmenu.js"></script>
        <!-- Nice Select JS -->
        <script src="../../assets/js/jquery.nice-select.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="../../assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="../../assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Odometer JS -->
        <script src="../../assets/js/odometer.min.js"></script>
        <!-- Jquery Appear JS -->
        <script src="../../assets/js/jquery.appear.min.js"></script>
        <!-- Ajaxchimp JS -->
        <script src="../../assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator JS -->
       <script src="../../assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="../../assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="../../assets/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script src="../../assets/js/main.js"></script>
                <script type="text/javascript">
            function jacct() {
                var jAcct = $("input[id='joint_account_radio']:checked").length > 0;
                if (jAcct) 
                {
                    var jAcctV = $("input[id='joint_account_radio']:checked").val();
                    if(jAcctV == 1 ){   
                      $('#joint_account').show();
                     }  
                    else {
                     $('#joint_account').hide();
                   } 
                } 

            }
        </script>
          <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>

        <script type="text/javascript" src="../../translate_a/element.js?cb=googleTranslateElementInit"></script>
       
   <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '93625551a0f57e687fb51382c55ca93302adffdf';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
    </body>

</html> 
 
